/* Header styles for PrimRose */

.navbar {
	color: #ffffff4e;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
	background-color: #ffffff1d;
	backdrop-filter: blur(5px);
	border: none;
	padding: 0rem 0;
	transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}
.sign{
	background: linear-gradient(135deg, #22c55e00 0%, #04ff0000 100%);
	color:rgb(255, 255, 255);
	font-family: Kaushan Script;
	border:2px solid white;
	backdrop-filter: 10px;
	box-shadow: black 1px 1px 5px;
	text-shadow: black 1px 1px 10px;
	
}

.navbar.scrolled {
	background-color: #ffffff;   /* solid white */
	backdrop-filter: blur(3px);  /* optional glass effect */
}

.header-logo {
	width: 44px;
	height: 44px;
	border-radius: 8px;
	object-fit: cover;
}
.brand-text {
	font-weight: 700;
	color: #FDFBF7;
	font-size: 2.5rem;
	font-family: Kaushan Script;
	text-shadow: black 1px 1px 10px;
}
.navbar .nav-link {
	gap: 20rem;
	font-family: Kaushan Script;
	/* font-weight: bold; */
	font-size: 1.5rem; 
	color: #ffffff;
	text-shadow: black 1px 1px 10px;
	
}
.navbar .nav-link.active {
	color: #036e01;
}
.cart-icon{
	height: auto;
	width: 3rem;
}
.d-none{
	visibility: hidden;
}
@media (max-width: 576px) {
	.brand-text { font-size: 1rem; }
}


