/* Footer styles for PrimRose */
.footer a { color: rgba(255,255,255,0.9); }
.footer h5, .footer h6 { color: #fff; }
.footer .social .btn { border-radius: 6px; }

.developer-tag {
  text-align: center;
  width: 100%;
}
@media only screen and (min-width: 768px){
    .developer-tag{
      
        width:auto;
        text-align: left;
    }
}
    

